{% extends 'forum/base.html' %}

{% load crispy_forms_filters %}

{% block title %}
    Password Reset Done!
{% endblock title %}

{% block content %}

<div class="card mx-auto mt-5 p-5" style="width: 40rem;">
  <form class="mt-3" method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <div class="card m-5 shadow-lg align-items-center mx-auto" style="width: 18rem; shadow-sm">
            <div class="card-body">
                <h1 class="display-4 text-white text-center pb-3">Email send!</h1>
                <p class="lead text-white text-center">We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder. Click here to log in again: <a href={% url 'login' %}>Login</a> </p>
            </div>
        </div>
  </form>
  </div>

{% endblock %}