{% extends 'forum/base.html' %}

{% load crispy_forms_filters %}

{% block title %}
    Password Reset Complete!
{% endblock title %}

{% block content %}

<div class="card mx-auto mt-5 p-5" style="width: 40rem;">
  <form class="mt-3" method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <div class="card m-5 shadow-lg align-items-center mx-auto" style="width: 18rem; shadow-sm">
            <div class="card-body">
                <p class="lead text-white text-center">You're password has been successfuly changed! <a href={% url 'login' %}>Login</a> </p>
            </div>
        </div>
  </form>
  </div>

{% endblock %}