{% extends 'forum/base.html' %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <div class="d-flex flex-row">
        <div class="d-flex justify-content-center card m-5 shadow-lg" style="width: 18rem; shadow-sm">
            <div class="card-body">
                <h5 class="card-title text-white">Card title</h5>
                <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
{% endblock content %}