{% extends 'forum/base.html' %}

{% block title %}
    Log In
{% endblock title %}

{% block css %}
    'forum/styles.css'
{% endblock css %}



{% block content %}
    <div class="card mx-auto mt-5 p-5" style="width: 40rem;">
        <form class="mt-3" >
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Log In</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail3">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3">
                </div>
            </div>
            <div>
            <div class="container mt-4">
                <div class="row align-items-center">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="col pt-3">
                            <p class="font-weight-light">New to Meddit? <a href="{% url 'signup' %}"> Sign Up! </a></p>
                    </div>
                </div>
            </div>
            </div>
        </form>
    <div>
{% endblock content %}


